body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px 0;
}

.container1 {
    width: 600px;
    margin: 0 auto;
    background-color: #f7f2f2;
    text-align: center;
    padding: 30px;
    border: 1px solid #e0e0e0;
}

.header{
    background-color: gray;
    padding: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 28px;
    color: #555;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.image-box {
    margin: top 3px; ;
    width: 100%;
    margin-bottom: 20px;
}

.image-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

h1 {
    font-size: 22px;
    margin: 15px 0 10px;
    color: #000;
}

p {
    font-size: 15px;
    color: #444;
    margin: 6px 0;
}

b {
    font-weight: bold;
    color: #000;
}

.copyright {
    margin-top: 20px;
    font-size: 13px;
    color: #888;
}
